body {
    background: #0b1120;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
}

.card {
    background: #111827;
    border-radius: 14px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

input {
    background: #1f2933;
    color: white;
}

button {
    background: linear-gradient(45deg, #22c55e, #06b6d4);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

table {
    width: 100%;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background: #1f2937;
}
